{% extends "base.html" %}
{% from 'form_widgets.html' import render_field %}

{% block content %}
  <a class="pull-left" href="{{ url_for(".view_brew", brew_slug=brew.slug) }}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</a>
  <div class="row marketing">
    <div class="col-xs-12">
      <h4>Review Brew</h4>

      {% if form.errors %}
        <div>
          {% for field, error in form.errors.items() %}
            {% for e in error %}
              {{ e }}<br>
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}
      <form method="POST" action="" accept-charset="UTF-8" role="form">
        {{ form.csrf_token }}
        {{ render_field(form.name) }}
        {{ render_field(form.aroma_score, placeholder="Out of {}".format(MAX_SCORES['aroma_score'])) }}
        {{ render_field(form.aroma_comments) }}
        {{ render_field(form.appearance_score, placeholder="Out of {}".format(MAX_SCORES['appearance_score'])) }}
        {{ render_field(form.appearance_comments) }}
        {{ render_field(form.flavor_score, placeholder="Out of {}".format(MAX_SCORES['flavor_score'])) }}
        {{ render_field(form.flavor_comments) }}
        {{ render_field(form.mouthfeel_score, placeholder="Out of {}".format(MAX_SCORES['mouthfeel_score'])) }}
        {{ render_field(form.mouthfeel_comments) }}
        {{ render_field(form.impression_score, placeholder="Out of {}".format(MAX_SCORES['impression_score'])) }}
        {{ render_field(form.impression_comments) }}
        <button type="submit" class="btn btn-default">Save</button>
      </form>
    </div>
  </div>
{% endblock %}
